.container{

  min-height: 100px;
  
}
.header{
    height: 60px;
    width: 100%;
    color: white;
    background-color: aqua;
}
.menu{
    width:100%;
    background-color: rgb(127, 255, 150);
    height:50px;
    margin-bottom: 10px;
}
.menu a{
    padding: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    font: bold;
}
.slider img{
    min-height:300px;
    width: 100%;
    margin-right:0px;

}
.sidebar{
    width:20%;
    height: 310px;
    background-color: chartreuse;
}
.contents p{
    background-color:burlywood;
}